<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wy.remote.remotemodel">
    <permission android:name="com.ryg.self.SERVICE"></permission>
    <uses-permission android:name="com.ryg.self.SERVICE"></uses-permission>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartByLocalActivity"
            android:exported="true"
            android:permission="com.ryg.startbyremote">
        </activity>
        <provider
            android:name="com.wy.remote.remotemodel.provider.UserProvider"
            android:authorities="com.wy.remote.remotemodel"
            android:exported="true"
            android:permission="com.ryg.PROVIDER"></provider>
        <service
            android:name=".service.BookService"
            android:exported="true"
            android:process=":process">
            <intent-filter>
                <action android:name="com.wy.remote.remotemodel.local.service"></action>
            </intent-filter>
        </service>
        <service
            android:name=".service.LoginService"
            android:exported="true"
            android:permission="com.ryg.SERVICELOGIN">
            <intent-filter>
                <action android:name="com.wy.remote.remotemodel.remote.service"></action>
            </intent-filter>
        </service>
        <service android:name=".service.BinderPoolService">
            android:exported="true"
            android:permission="com.ryg.SERVICEPOOL">
            <intent-filter>
                <action android:name="com.wy.remote.remotemodel.pool.service"></action>
            </intent-filter>
        </service>
    </application>

</manifest>